@page "/counter"
@using EFCorePreRenderIssue.Shared.Interfaces
@inject IUnitService  UnitService
@inject IProductService  ProductService
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
          await ProductService.GetAsync();
        await UnitService.GetAsync();
    }

    private void IncrementCount()
    {
        currentCount++;
    }
} 
